:root {
    --page-width: 815px;
    --page-padding: 28px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.full-page {
    position: relative;
    height: 1056px;
    padding: var(--page-padding);
    width: var(--page-width);
    max-width: 2000px;
    border: 1px solid lightgray;
    background-color: white;
}

#directory-title-header {
    text-align: center;
}

td {
    text-align: center;
}

.spacing-img {
    width: 20px;
    height: 20px;
}

.num-input {
    max-width: 65px;
}

.col-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.column {
    display: inline-block;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

.page-num {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.parents {
    font-weight: 700;
    font-size: calc(100% + 1px);
}

.address, .phone {
    display: inline-block;
    width: fit-content
}

.phone, .email-title {
    font-weight: 600;
}

.phone {
    text-align: right;
}